{% extends 'base.html' %}
{% load media_explorer_tags %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
    <article>
        <header>
            <h1> {{post.title}} </h1>
            <p class="posttime">
                Posted on
                <time datetime="{{post.created|date:"c"}}">
                {{post.created|date}}
                </time>
            </p>
        </header>

        {% if post.lead_media_type == "video" %}
            {% get_video post.lead_media_id %}
        {% elif post.lead_media_type == "gallery" %}
            {% get_media_gallery post.lead_media_id %}
        {% elif post.lead_media_type == "image" %}
            <figure>
                <img src="{% get_image_url_from_size post.lead_media_id post.lead_media_type "1220x763" "orig_c"|safe %}">
                {% if post.lead_media_caption or post.lead_media_credit %}
                    <figcaption>
                    {% if post.lead_media_caption %}
                        {{post.lead_media_caption}}
                    {% endif %}
                    {% if post.lead_media_credit %}
                        {{post.lead_media_credit}}
                    {% endif %}
                    </figcaption>
                {% endif %}
            </figure>
        {% endif %}

        <p class="description">
            {{post.description}}
        </p>
        {{ post.content|show_short_code|safe}}
    </article>
{% endblock %}

