<div>
    <table>
        <tr>
            <td>
                <div>
                    <div id="mediaInfoDiv" style="display:none"></div>
                    <div id='currentImageDiv' style='margin-bottom:5px'></div>
                    <input class='addImage' type='button' value='Select' onclick="meSelectOrRemoveMedia('select');">
                    <input class='removeImage' type='button' value='Remove' onclick="meSelectOrRemoveMedia('remove');";>
                </div>
                <div id="leadMediaImageDiv" style="display:none">
                    <input title="Enter caption" type="text" id="temp_caption" value="" placeholder="Enter caption" style="margin-top:10px;width:200px">
<br>
                    <input title="Enter credit" type="text" id="temp_credit" value="" placeholder="Enter credit" style="margin-top:10px;width:200px">
                </div>
            </td>
        </tr>
    </table>
</div>
